body {
    margin: 0;
    font-family: monaco;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: #CCFF00;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrapper {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
}


#timer{
    border: 2px solid #CCFF00;;
    border-radius: 30px;
    width: 30%;
    padding: 10px;
    min-height: auto
}

#timer-label{
    font-size: 50px;
}

#time-left{
    font-size: 100px;
}

.change-label{
    font-size: 40px;
}

.button{
    background-color: transparent;
    border: transparent;
}

.fa-solid{
    color: #CCFF00;
    font-size: 50px;
}

.fa-solid:hover{
    color: turquoise;
}

.length-label{
    font-size: 40px;
}